html { height: 100%; }
.cyclopes img { width: 100%; }
.last, .cen { text-align: center; }
.rig { text-align: right; }
.rnd {border-radius: 20px;}
figure { text-align: center; font-weight: bold; float: left; margin: 10px; }
.dim {opacity: 0.3;}

iframe {border: 0}

blockquote
{
	border: solid 2px black;
	padding: 5px;
}

body
{ 
	font-family: Verdana, sans-serif;
	background: #efe6dd;
	height: 100%;
}

.face
{
	width: 100px;
	float: left;
	height: 100%;
}

.text
{
	width: calc(100% - 310px);
	display: inline-block;
}

.cyclopes
{
	width: 200px;
	float: right;
}

.all
{
  position: relative;
  height: 100%;
  width: 100%;
}

.splash
{
  position: absolute;
  height: 324px;
  width: 721px;
  padding: 20px;
  margin: -182px 0 0 -380px;
  left: 50%;
  top: 50%;
  text-align: center;
}

.nick, .nick:link, .nick:visited, .nick:hover
{
	color: green;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
}

.pic
{
	min-width: 200px;
	width: 60%;
	max-width: 1000px;
}

.pic5a
{
	max-height: 200px;
	max-width: 20%;
}

.pic5
{
	max-height: 200px;
	max-width: 20%;
	min-width: 150px;
	vertical-align: middle;
}

li.yes, dd.yes, li.yes a {color: green;}
li.noo, dd.noo, li.noo a {color: red;}
li.yes span, li.noo span, dd.yes span, dd.noo span {color: black;}
.yes span a, .noo span a {color: blue;}

a:link, a:visited{color:#0000AA}
ul.good {list-style-type: none;}
ul.good li:before {content: "💚"; margin-left: -1em; padding-right: 5px; text-indent: -1em;}
ul.baad li:before {content: "💔"; margin-left: -1em; padding-right: 5px; text-indent: -1em;}
dt {font-weight: bold;}

img.noo {border: solid red 4px;}

.box
{
	height: 12px;
	width: 12px;
	display: inline-grid;
	margin-right: 5px;
	border: 0.5px solid black;
}
